.waterdrop{
    margin: auto; 
    height: 30px;
    width: 30px;
    background-color: #0066b2;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    /* transform: rotate(-45deg); */
    opacity: 0%;
    animation: dropdown 1s;
    animation-timing-function: ease-in;
}

*{
    animation: bgcol 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.appname{
    color:white;
    font-family: sans-serif;
    opacity: 0;
    animation: fadein 1s forwards;
    animation-timing-function: ease-in;
    animation-delay: 2.5s;
    text-align: center;
}

.description{
    color:white;
    font-family: sans-serif;
    opacity: 0;
    animation: fadein 2s forwards;
    animation-delay: 5s;   
    text-align: center;
}

.continue{
    top:20px;
    display: block;
    margin: auto;
    height: 40px;
    width: 90px;
    color:white;
    border-radius: 20%;
    background-color:darkorchid;

}

@keyframes fadein {
    from{
        opacity: 0%;
    }

    to{
        opacity: 100%;
    }
}

@keyframes dropdown {
    from{
        transform:rotate(-45deg);
        opacity: 0%;
    }
    25%{
        transform: rotate(-45deg);
        opacity: 100%;
    }
    to{
        transform: translate( 0vh ,45vh) rotate(-45deg);
        opacity: 100%;
    }
}

@keyframes bgcol{
    from{
        background-color:white ;
    }
    to{
        background-color: #0066b2;
    }
}